Package: setec-mountfstab
Version: 6
Section: extra
Priority: optional
Architecture: amd64
Depends: python,
	 python-pyparsing,
	 gdisk
Replaces: mountfstab
Installed-Size: 36k
Maintainer: Atila Romero
Description: Utilities to mount squash files.
